body {
  height: 100vh;
  width: 100vw;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 40% 1fr;
  display: grid;
  grid-row: span 1;
  grid-column: span 1;
  overflow: hidden;
}
.code-editor {
  /* height: 100%; */
  width: auto;
  background-color: #2b2b2b;
}
.stack-side {
  background-color: #013b3b;
  width: auto;
  height: 100%;
  grid-template-rows: 60px 1fr;
  display: grid;
  font-family: "Quicksand", sans-serif;
  overflow-y: scroll;
}
#stack {
  display: inline-flex;
  padding: 10px;
  padding-left: 20px;
}
h1 {
  font-size: 45px;
  font-family: "Chakra Petch", sans-serif;
}
h2 {
  font-size: 35px;
}
#title {
  background-color: black;
  color: rgba(255, 255, 255, 0.884);
  padding: 10px;
  grid-row: span 1;
  grid-column: span 2;
}
#so-title {
  color: white;
}
#so-icon {
  color: orange;
  font-size: 33px;
  margin-right: 10px;
}

/*the container must be positioned relative:*/
.custom-select {
  position: relative;
  font-family: Arial;
}
.custom-select select {
  display: none; /*hide original SELECT element:*/
}
.select-selected {
  background-color: orange;
}
/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}
/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}
/*style the items (options), including the selected item:*/
.select-items div,
.select-selected {
  color: black;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}
/*style items (options):*/
.select-items {
  position: absolute;
  background-color: orange;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}
/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}
.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

#content {
  color: white;
  grid-row: span 1;
  padding-left: 10px;
  padding-right: 10px;
}
.answer {
  border: solid white;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 10px 10px 10px 10px;
  width: auto;
}
code {
  font-family: courier, monospace;
  font-weight: 400;
  cursor: pointer;
}
.code{
  background-color: white;
  color: black;
  padding: 5px 5px 5px 5px;
  margin: 5px 5px 5px 0px;
  position: relative;
}
.code .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 25px;
  left: 10%;
}

.code:hover .tooltiptext {
  visibility: visible;
}

a:link {
  color: red;
}

/* visited link */
a:visited {
  color: rgb(64, 206, 64);
}