body {
  height: 100%;
  background-color: #faefd9;
}
main {
  height: 100%;
  grid-gap: 10px;
  color: white;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
}
h1 {
    font-size: 45px;
    font-family: 'Chakra Petch', sans-serif;
}
h2 {
    font-size: 35px;
    font-family: 'Quicksand', sans-serif;
}
#title {
    background-color: black;
    color: rgba(255, 255, 255, 0.884);
    padding: 10px;
}
#so-title {
    color: white;
}
#so-icon {
    color: orange;
    font-size: 33px;
    margin-right: 10px;
}
#stack {
    display: inline-flex;
    padding: 10px;
    padding-left: 20px;
    padding-bottom: 150%;
}
.code-editor {
  height: 100%;
  grid-column: span 1;
  float: left;
    width: 60%;
}

.active{
  border-color: #f00;
}
.stack-side {
    background-color: #013b3b;
  height: 100%;
  float: right;
  width: 40%;
}
/*the container must be positioned relative:*/
.custom-select {
    position: relative;
    font-family: Arial;
  }
  .custom-select select {
    display: none; /*hide original SELECT element:*/
  }
  .select-selected {
    background-color: orange;
  }
  /*style the arrow inside the select element:*/
  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }
  /*point the arrow upwards when the select box is open (active):*/
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
  }
  /*style the items (options), including the selected item:*/
  .select-items div,.select-selected {
    color: black;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
  }
  /*style items (options):*/
  .select-items {
    position: absolute;
    background-color: orange;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  /*hide the items when the select box is closed:*/
  .select-hide {
    display: none;
  }
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }